global
    #логи в стандартный вывод - видно в терминале
    log stdout format raw local0
    #макс одновременных соединений
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    log global

# Фронтенд — принимает входящие запросы
frontend http_front
    bind *:80
    default_backend http_back

# Бэкенд — список серверов и алгоритм балансировки
backend http_back
    balance roundrobin
    option httpchk GET /health
    server backend1 backend1:3000 check inter 2s rise 2 fall 3
    server backend2 backend2:3000 check inter 2s rise 2 fall 3
    server backend3 backend3:3000 check inter 2s rise 2 fall 3 backup
